body, html {
    padding: 0;
    margin: 0 5px;
    background: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    color: #333;
}

#main {
    background: #eEeEeE;
    border-radius: 15px;
    margin: 20px auto 20px auto;
    width: 94%;
    text-align:center;
    padding: 10px;
}

#div-image {
    background: #fff;
    padding: 5px;
}

#image {
    max-width:100%;
    height: auto;
}

#img-caption {
    line-height: 1.3;
    width: 90%;
    margin: 15px auto;
}

#tribute-info {
    margin: 50px auto 10px auto;
    text-align: left;
    max-width: 550px;
}

#tribute-info h2 {
    font-size: 20px;
}

#tribute-info ul {
    -webkit-margin-before: 0;
    -webkit-padding-start: 15px;
}
#tribute-info li {
 margin: 10px 0;
}

#tribute-info .year {
    font-weight: 700;
}

.quote {
    font-style: italic;
    font-size: 95%;
    text-align: center;
    line-height: 1.3;
}

footer {
    font-weight: 700;
    font-size: 110%;
    margin: 20px 20px;
}
